# Traefik & Domain configuration
DOMAIN=venus.andrey.work
ACME_EMAIL=admin@venus.andrey.work

# DigitalOcean API Token for Traefik DNS Challenge
DO_AUTH_TOKEN="change_me"

# Backend configuration
ADMIN_PASSWORD=admin
JWT_SECRET=supersecret_jwt_key
API_KEY=my-secret-api-key
